rect:hover{
	opacity: 0.6;
}


.tooltip {
  max-width: none;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  font-size: small;
}

#scatterTooltip, #barTooltip {
  white-space: nowrap;
  position: absolute;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
} 

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#Home{ 
    /* The image used */
  background: url("../../img/home.jpg") no-repeat bottom center scroll;
  display: table;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#About{ 
    /* The image used */
  background: url("../../img/about.jpg") no-repeat bottom center scroll;
  display: table;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section{
  width: 100vw;
  height: 100vh;
}

p, #xValue, #yValue, #AmountOfStars {
  font-size: 13px;
}

a#data {
  font-size: 30px;
}

h2{
  padding: 200px;
}

.dropdownMenu{
  margin-left: 35%;
  padding: 5px;
}